@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>&nbsp;</p>
<h2>Details about this application:</h2>
<p>&nbsp;</p>
<h3>Purpose</h3>
<p>This application is intended for recording the sales of a group of sellers, who are distributed between a set of departments.</p>
<p>&nbsp;</p>
<h3>Technical Specs</h3>
<h4>Language:</h4>
<p>C#, using ASP.NET with Razor pages for front view</p>
<h4>Framework:</h4>
<p>.NET 6.0</p>
