
@{
    ViewData["Title"] = "Contact";
}

<h1>@ViewData["Title"]</h1>

<p>&nbsp;</p>
<h2>For more information, get in touch with:</h2>
<p>&nbsp;</p>
<h3>Name:</h3>
<p>Irineu Junior Pinheiro dos Santos</p>
<h3>E-mail:</h3> 
<p>irineus@gmail.com</p>